<form action="/attachEmployeeToForeignKeyPost" method="post">
    <p>Vælg ansat</p>
    <select name="employeeId" id="employee">
        <option value="" disabled selected>Vælg medarbejder</option>
        <option th:each="employee : ${employees}"
                th:value="${employee.employeeId}"
                th:text="${employee.employeeName}">
        </option>
    </select>

    <p>Vælg projektværktøj</p>
    <select name="calculatorTableId" id="calculator">
        <option value="" disabled selected>Vælg projekt værktøj</option>
        <option th:each="calculator : ${calculators}"
                th:value="${calculator.calculatorTableId}"
                th:text="${calculator.calculatorName}">
        </option>
    </select>

    <button type="submit">Tilføj</button>
</form>

<form action="/selectAllEmployees" method="get">
    <button type="submit" class="btn btn-primary">Se overblik over Medarbejdere</button>
</form>

<form action="/" method="get">
    <button type="submit">Indeks</button>
</form>

</body>
</html>