<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator Tool for Project Leader</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Detaljer for Kalkulator</h1>

<h2>Kunde Information</h2>
<p>Virksomhed: <span th:text="${calcEmp.clientCompany}"></span></p>
<p>Navn: <span th:text="${calcEmp.clientName}"></span></p>

<h2>Projekt Information</h2>
<p>Projekt Navn: <span th:text="${calcEmp.projectName}"></span></p>
<p>Projektleder: <span th:text="${calcEmp.projectLeader}"></span></p>

<h2>Medarbejdere</h2>
<ul>
    <li th:each="employee : ${calcEmp.employees}">
        Navn: <span th:text="${employee.employeeName}"></span>,
        Arbejdsområde: <span th:text="${employee.workArea}"></span>,
        Opgave: <span th:text="${employee.task}"></span>,
        Estimerede Timer: <span th:text="${employee.estimatedHoursPerEmployee}"></span>
    </li>
</ul>
<!--
<div>
    <h2>Tidsestimat per ansat</h2>
    <p th:text="${calcEmp.estimatedHoursPerEmployee}"></p>
</div>
-->

<form action ="readAllCalculators" method ="get">
    <button type="submit">Vis beregnere</button>
</form>

<form action="/" method="get">
    <button type="submit">Gå tilbage til hovedsiden</button>
</form>


</body>
</html>
