<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator Tool for Project Leader</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Detaljer for Kalkulator</h1>



<h2>Kunde Information</h2>
<p>Virksomhed: <span th:text="${calcEmp.clientCompany}"></span></p>
<p>Navn: <span th:text="${calcEmp.clientName}"></span></p>

<h2>Projekt Information</h2>
<p>Projekt Navn: <span th:text="${calcEmp.projectName}"></span></p>
<p>Projektleder: <span th:text="${calcEmp.projectLeader}"></span></p>

<h2>Subprojekter</h2>
<ul>
    <li th:each="subproject : ${subprojects}">
        <strong th:text="${subproject.subprojectName}"></strong>
        <ul>
            <li th:each="employee : ${subproject.employees}">
                Medarbejder: <span th:text="${employee.employeeName}"></span>
            </li>
        </ul>
    </li>
</ul>


<h2>Medarbejdere</h2>
<ul>
    <li th:each="employee : ${calcEmp.employees}">
        Navn: <span th:text="${employee.employeeName}"></span>,
        Opgaver:
        <ul>
            <li th:each="task : ${employee.tasks}">
                <span th:text="${task.taskName}"></span> (Tid: <span th:text="${task.estimatedWorkHoursPerTask}"></span> timer)
            </li>
        </ul>
    </li>
</ul>


<form action ="readAllCalculators" method ="get">
    <button type="submit">Vis beregnere</button>
</form>

<form action="attachEmployeeToForeignKey" method ="get">
    <button type="submit">Tilknyt medarbejdere til et projekt</button>
</form>

<form action="createTask" method ="get">
    <button type="submit">Opret opgave</button>
</form>

<form action="assignEmployeeToTask" method="get">
    <button type="submit" class="btn btn-primary">Tildel opgave til medarbejder</button>
</form>

<form action="/" method="get">
    <button type="submit">Gå tilbage til hovedsiden</button>
</form>


</body>
</html>
