<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Navn på den ansatte</th>
            <th>Arbejdsområde</th>
            <th>Opgave</th>
            <th>Estimerede timeantal</th>
            <th>Tilknyttet lommeregner</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(employees)}">
            <td colspan="5" class="text-center">Ingen ansatte kunne findes</td>
        </tr>
        <!-- Thymeleaf loop to dynamically populate the table -->
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.employeeName}"></td>
            <td th:text="${employee.workArea}"></td>
            <td th:text="${employee.task}"></td>
            <td th:text="${employee.estimatedHoursPerEmployee}"></td>
            <td th:text="${employee.calculatorTableId}"></td>



        </tr>
        </tbody>
    </table>
</div>
<form action="/createEmployee" method="get">
    <button type="submit" class="btn btn-primary">Registrer ny ansat</button>
</form>

<form action="attachEmployeeToForeignKey" method ="get">
    <button type="submit">Tilknyt medarbejdere til et projekt</button>
</form>

<form action="/" method="get">
    <button type="submit">Indeks</button>
</form>

</body>
</html>