<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="table-responsive">
    <table>
        <tr>
            <th>Navn på den ansatte</th>
            <th>Opgaver</th>
            <th>Tilknyttet projekt</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.employeeName}"></td>
            <td>
                <ul>
                    <!-- Display tasks if they exist -->
                    <li th:each="task : ${employee.tasks}" th:if="${employee.tasks.size() > 0}">
                        <span th:text="${task.taskId}">Task ID</span> -
                        <span th:text="${task.task}">Task Name</span> -
                        <span th:text="${task.estimatedWorkHoursPerTask}">Estimated Work Hours</span>
                    </li>
                    <!-- Default message if no tasks -->
                    <li th:if="${employee.tasks.size() == 0}">Ingen opgaver</li>
                </ul>
            </td>
            <td th:text="${employee.calculatorTableId}"></td>
        </tr>
    </table>
</div>
<form action="/createEmployee" method="get">
    <button type="submit" class="btn btn-primary">Registrer ny ansat</button>
</form>

<form action="attachEmployeeToForeignKey" method ="get">
    <button type="submit">Tilknyt medarbejdere til et projekt</button>
</form>

<form action="seeAllTasks" method ="get">
    <button type="submit">Se alle opgaver</button>
</form>

<form action="createTask" method ="get">
    <button type="submit">Opret opgave</button>
</form>

<form action="/" method="get">
    <button type="submit">Indeks</button>
</form>

</body>
</html>