<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the project production tool</title>
</head>
<body>

<h1> Welcome </h1>

index er landing page til projektet. Siden er udgangspunktet til projektet.

<form action="/selectAllFromProjectManagement" method="get">
    <button type="submit">See project overview</button>
</form>

<form action="/createPost" method = "post">
    <td>Project name</td><td><input type="text" name="projectName"></td>
    <td>Project leader</td><td><input type="text" name="projectLeader"></td>

    <button type="submit">Submit</button>

</form>

</body>
</html>