<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the project production tool</title>
</head>
<body>

<h1> Welcome </h1>


TO-DO:
    calculator til projektet.
    update-project.html fix
    styling på siderne



<form action="/selectAllFromProjectManagement" method="get">
    <button type="submit">See project overview</button>
</form>
<form action="/create" method="get">
    <button type="submit">Register new project</button>
</form>

<form action="/createCalculator" method="get">
    <button type="submit">Gå til projekt beregneren</button>
</form>

<form action ="/" method = "get">
    <button type ="submit">Go to index</button>
</form>


</body>
</html>