<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register new calculator</title>
</head>
<body>
<h1>Ny project estimering</h1>
</body>

<h2>Opret nyt lommeregner ID med brug af eksisterende projekter og klienter</h2>

<form = "/createCalculatorPost" method="post">

<form th:action="@{/readClientId}" method="get">
    <label for="clientCompany">Vælge klient firmaets navn:</label>
    <select name="clientName" id="clientName">
        <option th:each="client : ${clients}"
                th:value="${client.clientName}"
                th:text="${client.clientName}"></option>
    </select>
    <button type="submit">Submit</button>
</form>


</form>
<form action ="/" method = "get">
    <button type ="submit">Indeks</button>
</form>
</html>